* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.125rem;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

a {
  text-decoration: none;
}

/* #container {
  max-width: 1200px;
} */

/* ----- Header ----- */

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.img-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boutons {
  display: flex;
  gap: 2rem;
}

.boutons a {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
  font-size: 1.125rem;
  font-weight: 600;
}

.boutons li:last-child a {
  color: black;
  background-color: hsl(0, 100%, 100%);
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  transition: 300ms ease-out;
}

.boutons li:last-child a:hover {
  color: hsl(0, 100%, 100%);
  background-color: hsla(0, 100%, 100%, 0.5);
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  position: relative;
  font-size: 4rem;
  margin-bottom: 0;
  top: 3.125rem;
  color: hsl(0, 100%, 100%);
}

.title img {
  position: relative;
  top: 12.5rem;
  cursor: pointer;
}

/* ----- Services ----- */

#services {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 6rem;
}

#services h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  max-width: 26.875rem;
}

#services p {
  line-height: 1.6;
  color: hsl(232, 10%, 55%);
  max-width: 28.125rem;
}

#services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services .img-text {
  position: relative;
  display: inline-block;
}

#services .img-description {
  position: absolute;
  bottom: 4.688rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#services h3 {
  font-size: 2.375rem;
  color: hsl(167, 40%, 24%);
}

#services span {
  max-width: 500px;
}

/* ----- Testimonials ----- */

.testimonials {
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.625rem;
  letter-spacing: 0.2rem;
}

.round {
  border-radius: 6.25rem;
  width: 6.25rem;
}

.testimonials h3 {
  font-size: 1.563rem;
}

#testimonials-list {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.comment {
  max-width: 25rem;
  line-height: 1.8;
}

.bottom-text {
  display: flex;
  flex-direction: column;
}

.profession {
  color: hsl(213, 9%, 39%);
}

.testimonials-images {
  display: flex;
}

.testimonials-images img {
  width: 25%;
  object-fit: cover;
}

/* ----- Footer ----- */

#footer {
  display: flex;
  flex-direction: column;
  background-color: hsl(167, 34%, 41%);
  padding: 2rem 3rem;
}

#footer .title-footer {
  text-align: center;
  font-size: 1.75rem;
  color: hsl(167, 40%, 24%);
}

#footer ul {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

#footer a {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}

#footer .socials {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  cursor: pointer;
}

/* ----- Responsive sidebar ----- */

#responsive-icon {
  display: none;
}

/* ----- Elements in responsive ----- */

@media screen and (max-width: 375px) {
  #container {
    width: fit-content;
  }

  #services {
    display: flex;
    flex-direction: column;
  }

  #responsive-icon {
    display: block;
  }

  .boutons {
    display: none;
  }

  #testimonials-list {
    flex-direction: column;
    gap: 3.125rem;
  }

  .testimonials h2 {
    font-size: 1.5rem;
  }
}
