* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.125rem;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

a {
  text-decoration: none;
  font-size: 1.125rem;
}

/* ----- Header ----- */

.header {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.img-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boutons {
  display: flex;
  gap: 2rem;
}

.boutons a {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
  font-size: 1.125rem;
  font-weight: 600;
}

.boutons li:last-child a {
  color: black;
  background-color: hsl(0, 100%, 100%);
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  transition: 300ms ease-out;
  text-transform: uppercase;
}

.boutons li:last-child a:hover {
  color: hsl(0, 100%, 100%);
  background-color: hsla(0, 100%, 100%, 0.5);
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  position: relative;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 3rem;
  color: hsl(0, 100%, 100%);
}

.title img {
  position: relative;
  margin-top: 12.5rem;
  cursor: pointer;
}

/* ----- Services ----- */

#services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.side {
  display: flex;
  flex: 0 0 100%;
}

.side > .text,
.side > div {
  width: 90%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 6rem;
}

#services h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  max-width: 26.875rem;
}

#services p {
  line-height: 1.6;
  color: hsl(237, 10%, 37%);
  max-width: 28.125rem;
}

#services .learn-link::before {
  background-color: hsl(51, 100%, 49%);
}

#services .learn-link:hover::before {
  background-color: hsl(7, 99%, 70%);
}

#services a::before {
  position: absolute;
  content: "";
  width: 7.813rem;
  height: 0.625rem;
  top: 80%;
  border-radius: 1.563rem;
}

#services a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  color: hsl(212, 27%, 19%);
}

#services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#services .img-text {
  position: relative;
}

#services .img-description {
  position: absolute;
  bottom: 4.688rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#services h3 {
  font-size: 2.375rem;
  color: hsl(167, 40%, 24%);
}

#services span {
  max-width: 31.25rem;
}

/* ----- Testimonials ----- */

.testimonials {
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.625rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 34%);
}

.round {
  border-radius: 6.25rem;
  width: 6.25rem;
}

.testimonials h3 {
  font-size: 1.563rem;
}

#testimonials-list {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.comment {
  max-width: 25rem;
  line-height: 1.8;
}

.bottom-text {
  display: flex;
  flex-direction: column;
}

.profession {
  color: hsl(213, 9%, 39%);
}

.testimonials-images {
  display: flex;
}

.testimonials-images img {
  width: 25%;
  object-fit: cover;
}

/* ----- Footer ----- */

#footer {
  text-align: center;
  background-color: hsl(150, 56%, 62%);
  padding: 5rem 3rem;
}

#footer .icon {
  width: 7.75rem;
  height: 1.5rem;
  color: hsl(198, 62%, 26%);
}

#footer ul {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

#footer a {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}

#footer a:hover {
  color: hsl(0, 100%, 100%);
}

#footer .socials {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  cursor: pointer;
}

#footer .social-icon {
  color: hsl(167, 40%, 24%);
  transition: color 0.3s ease;
}

#footer .social-icon:hover {
  color: hsl(0, 100%, 100%);
}

/* ----- Responsive sidebar ----- */

#responsive-icon {
  display: none;
}

/* ----- Elements in responsive ----- */

@media screen and (max-width: 23.438rem) {
  /* header responsive */

  .title h1 {
    text-align: center;
    font-size: 3rem;
  }

  .title img {
    margin-top: 0.625rem;
  }

  #responsive-icon {
    display: block;
  }

  .boutons {
    display: none;
    position: absolute;
    top: 5rem;
    background: hsl(0, 100%, 100%);
    width: 90%;
    padding: 2rem 0;
    text-align: center;
    z-index: 1;
  }

  .boutons::before {
    position: absolute;
    content: "";
    top: -1.25rem;
    border: 0.625rem solid;
    right: 0;
    border-color: transparent hsl(0, 100%, 100%) hsl(0, 100%, 100%) transparent;
  }

  .boutons.open {
    display: block;
  }

  .boutons li {
    margin: 1.5rem 0;
  }

  .boutons li:last-child a {
    background-color: hsl(51, 100%, 49%);
  }

  .boutons li:last-child a:hover {
    color: black;
    background-color: hsl(51, 100%, 49%);
  }

  .boutons a {
    color: hsl(213, 9%, 39%);
  }

  /* testimonials responsive */

  .testimonials {
    padding: 6rem 0.5rem;
  }

  #testimonials-list {
    flex-direction: column;
    gap: 3.125rem;
  }

  .testimonials h2 {
    font-size: 1.5rem;
  }

  .testimonials-images {
    flex-wrap: wrap;
  }

  .testimonials-images img {
    display: block;
    width: 50%;
  }

  /* services responsive */

  #services h2 {
    text-align: center;
  }

  #services p {
    text-align: center;
  }

  #services .img-text {
    display: flex;
  }

  #services img {
    height: 37.5rem;
  }

  #services .img-description {
    left: 0;
    transform: none;
    line-height: 1.5;
  }

  #top-side {
    display: flex;
    flex-direction: column-reverse;
  }

  .side {
    flex-wrap: wrap;
  }

  .side > .text,
  .side > div {
    width: 100%;
  }

  .text {
    align-items: center;
    padding: 5rem 1rem;
  }
}
